/*-- Font --*/
roboto-font = 'Roboto', sans-serif
font-default = 1rem
font-bold = 600
font-regular = 400
font-light = 300

/*--- Image ---*/
banner-head = url('/img/head-banner.jpg')

/*--- Color ---*/
white = #ffffff
grey = #666666
dark-grey = #333333
blue-fb = #4267B2
grey-bg = #e0e0e0
soft-grey-bg = #eeeeee

/*--- Size ---*/
one = 1rem
one-half = .5rem
two = 2rem
one-tb = 1rem 0
one-lr = 0 1rem
one-half-lr = 0 .5rem
btn-pad = .258rem .8rem

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)
  
border()
  vendor('border', arguments)

column()
  vendor('column-count', arguments)

body
  margin: 0
  font-family: roboto-font
  font-size: font-default
  font-weight: 400
  line-height: 1.5
  color: #212529
  text-align: left
  background-color: #fff

header
  background-image: banner-head
  
.hw-head-sec
  padding: 5rem 0
  
  h1
    color: white
    
.page-container
  max-width: 1200px
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  
.hw-container
  max-width: 1100px
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  
section
  margin-bottom: one
  
.desc-sec
  padding: 0 15px
  
  h1
    color: dark-grey
    font-family: roboto-font
    font-weight: font-bold
  
  h3
    color: grey
    font-family: roboto-font
    font-weight: font-bold
    margin-bottom: one
    
  .col-6
    margin-bottom: one
    
  .col-12
    margin-bottom: one
    
.btn-fb
  background-color: blue-fb
  border-radius: 2px
  color: white
  padding: btn-pad
  text-decoration: none
  
.btn-fb:hover
  color: #e0e0e0
  text-decoration:none
  
.bg-grey
  color: dark-grey
  background-color: grey-bg !important
  
.bg-grey.nav-item.nav-link
  border-radius 0
  
.bg-grey.nav-item.nav-link.active
  border none
  font-weight: font-bold
  background-color: soft-grey-bg !important
  
.bg-grey.tab-pane
  padding: two
  
.card-thumb
  background-color: soft-grey-bg
  max-width:100%
  min-width:100%
  
  h4
    font-family: inherit
    font-weight: 500
    color: dark-grey
    padding: 1rem .5rem 0 .5rem
    
  .price
    font-family: inherit
    font-weight: 500
    color: dark-grey
    padding: one-half-lr
    
.card-thumb.out-of-stock
  background-color: soft-grey-bg
  max-width:100%
  min-width:100%
  
  h4
    font-family: inherit
    font-weight: 500
    color: grey
    padding: 1rem .5rem 0 .5rem
    text-decoration: line-through
    
  .price
    font-family: inherit
    font-weight: 500
    color: grey
    padding: one-half-lr
    text-decoration: line-through
    
  .btn-buy
    background-color: dark-grey !important
    color: white !important
    
.card-thumb.best-price
  background-color: soft-grey-bg
  max-width:100%
  min-width:100%
  border 1px solid red !important
  
  img
    padding: one-half
    background-color: red
  
.list-item
  column 4
  
.btn-buy
  background-color: blue-fb
  border-radius: 2px
  color: white
  padding: btn-pad
  text-decoration: none
  font-family: inherit
  font-weight: 500
  border none
  margin-left: one-half
  margin-bottom: one
  
.btn-buy:hover
  color: dark-grey !important
  
  
@media (max-width: 600px)

  @media (min-width: 320px)
    .mobile-order-1
      -ms-flex-order: 1
      order: 1
      
    .mobile-order-2
      -ms-flex-order: 2
      order: 2
      
    .desc-sec
    
      .col-6
        margin-bottom: .65rem
        
      .col-12
        margin-bottom: .65rem
        
    .list-item
      column 2
      
    .nav-tabs
      justify-content: center